.progress-primary {
  background: conic-gradient(#4e73df 144deg, #ededed 0deg);
}

.progress-primary > .radio-progress-value {
  color: #4e73df;
}


.progress-secondary {
  background: conic-gradient(#858796 144deg, #ededed 0deg);
}

.progress-secondary > .radio-progress-value {
  color: #858796;
}


.progress-danger {
  background: conic-gradient(#e74a3b 256deg, #ededed 0deg);
}

.progress-danger > .radio-progress-value {
  color: #e74a3b;
}


.progress-warning {
  background: conic-gradient(#f6c23e 144deg, #ededed 0deg);
}

.progress-warning > .radio-progress-value {
  color: #f6c23e;
}


.progress-info {
  background: conic-gradient(#36b9cc 144deg, #ededed 0deg);
}

.progress-info > .radio-progress-value {
  color: #36b9cc;
}

.progress-success {
  background: conic-gradient(#1cc88a 144deg, #ededed 0deg);
}

.progress-success > .radio-progress-value {
  color: #1cc88a;
}

.radio-progress {
  position: relative;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-progress::before {
  content: "";
  position: absolute;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #fff;
}

.radio-progress-value {
  position: relative;
  font-size: 12px;
  font-weight: bold;
}

.skill-body {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.skill-progress {
  width: 200px;
  height: 200px;
  position: relative;
}

.outer-skill-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner-skill-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
              inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
              -0.5px -0.5px 0px -1px rgba(0, 0, 0, 0.15),
              0.5px 0.5px 0px -1px rgba(0, 0, 0, 0.05);
}

.text-skill-progress {
  font-weight: 600;
}

.circle-skill-progress {
  fill:none;
  stroke: url("#gradient-skill-progress");
  stroke-width: 15px;
  stroke-dasharray: 460;
  stroke-dashoffset: 0;
  
}

.svg-skill-progress {
  position: absolute;
  top: 0;
  left: 0;
}


.accordion-expandable .content-expandable {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);

  position: relative;
  height: 0px;
  overflow: hidden;
  transition: 0.75s;
  overflow-y: auto;
}

.accordion-expandable.active > div > div > div > div:nth-child(3) > div > div  {
  height: 90px
}
.accordion-expandable.active > div > div > div > div.col-auto.mt-3 > div.row.content-expandable {
  height: 50px
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
}